.App {
  text-align: center;
  background-color: #FDB813;
}

body {
  background-color: #FDB813;
}

.toForm {
	padding-top: 25%;
}

.center-col{
	display: flex;
/*    align-items: center;*/
    justify-content: center;
}

.btn.btn-primary.reg{
	width: 171.56px;
	height: 100%;
}

.card {
	/*word-spacing: 30px;*/
}
