.App {
  text-align: center;
  background-color: #FDB813;
}

body {
  background-color: #FDB813;
}

.toForm {
	padding-top: 25%;
}

.center-col{
	display: flex;
/*    align-items: center;*/
    justify-content: center;
}

.btn.btn-primary.reg{
	width: 171.56px;
	height: 100%;
}

.team-logo {
    max-height: 50px;
    max-width: 50px;
    height:auto;
    width:auto;
}
.table{
	width:50%;
}

.creator-area{
	padding-top: 20px;
}

#player-list{
	padding-top: 80px;
}

.picks {
	padding-top: 20px;
}

#selected-team {
    padding-right: 20px;
    padding-top: 10px;
}

#selected-box {
	margin-left: 10px;
}
/*.card-horizontal {
	display: flex;
    flex: 1 1 auto;
}*/

.card {
	/*word-spacing: 30px;*/
}
