.App {
  text-align: center;
  background-color: #FDB813;
}

body {
  background-color: #FDB813;
}

.toForm {
	padding-top: 25%;
	padding-left: 100px;
}

.btn.btn-primary.reg{
	width: 50%;
	height: 100%;
}
